/bin/*
!/bin/gnd_control/guiview/connect.png
!/bin/gnd_control/guiview/control.png
!/bin/gnd_control/guiview/copter3.png
!/bin/gnd_control/guiview/disconnect.png
!/bin/gnd_control/guiview/donate.png
!/bin/gnd_control/guiview/gnd.png
!/bin/gnd_control/guiview/quadicon.png
!/bin/gnd_control/guiview/routes.png
!/bin/gnd_control/guiview/ufirmware.png
!/bin/gnd_control/guiview/waves.png
